<div class="flex flex-row items-center">
  <mat-icon class="flex text-[#F0B429] material-icons-outlined text-5xl w-12 h-12">description</mat-icon>
  <h1 class="font-bold text-xl mb-4">Conjunto de selección múltiple</h1>
</div>
<mat-divider></mat-divider>

<div class="flex flex-col w-full mt-2">
  <h1 class="font-bold text-xl">Resolver las sumas</h1>

  <form autocomplete="off" [formGroup]="form" class="w-full ">
    <div class="mt-2">
      <p class="text-lg">A. ¿Cuánto es 2+2?</p>
      <mat-radio-group class="flex flex-col pl-8 grid-rows-4 gap-2" formControlName="first" [disabled]="disableQuestions">
        <mat-radio-button  value="1">1</mat-radio-button>
        <mat-radio-button  value="2">2</mat-radio-button>
        <mat-radio-button  value="3">3</mat-radio-button>
        <mat-radio-button  value="4">4</mat-radio-button>
      </mat-radio-group>

      <div class="flex flex-row items-center mt-2" *ngIf="wrong01">
        <mat-icon class="flex text-red-600 material-icons-outlined text-5xl w-12 h-12 mr-2">cancel</mat-icon>
        <p class="m-0">Respuesta incorrecta</p>
      </div>
      <button mat-raised-button *ngIf="wrong01" class="bg-[#005883] text-white" (click)="openFeedback(1)">Ver retroalimentación</button>


      <div class="flex flex-row items-center mt-2" *ngIf="good01">
        <mat-icon class="flex text-green-600 material-icons-outlined text-5xl w-12 h-12 mr-2">check_circle</mat-icon>
        <p class="m-0">Bien Hecho</p>
      </div>
    </div>

    <div class="mt-2">
      <p class="text-lg">B. ¿Cuánto es 4+6?</p>
      <mat-radio-group class="flex flex-col pl-8 grid-rows-4 gap-2" formControlName="second" [disabled]="disableQuestions">
        <mat-radio-button  value="1">15</mat-radio-button>
        <mat-radio-button  value="2">10</mat-radio-button>
        <mat-radio-button  value="3">6</mat-radio-button>
        <mat-radio-button  value="4">8</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="flex flex-row items-center mt-2" *ngIf="wrong02">
      <mat-icon class="flex text-red-600 material-icons-outlined text-5xl w-12 h-12 mr-2">cancel</mat-icon>
      <p class="m-0">Respuesta incorrecta</p>
    </div>
    <button mat-raised-button *ngIf="wrong02" class="bg-[#005883] text-white" (click)="openFeedback(2)">Ver retroalimentación</button>


    <div class="flex flex-row items-center mt-2" *ngIf="good02">
      <mat-icon class="flex text-green-600 material-icons-outlined text-5xl w-12 h-12 mr-2">check_circle</mat-icon>
      <p class="m-0">Bien Hecho</p>
    </div>

    <div class="mt-2">
      <p class="text-lg">C. ¿Cuánto es 3+2?</p>
      <mat-radio-group class="flex flex-col pl-8 grid-rows-4 gap-2" formControlName="third" [disabled]="disableQuestions">
        <mat-radio-button  value="1">0</mat-radio-button>
        <mat-radio-button  value="2">7</mat-radio-button>
        <mat-radio-button  value="3">9</mat-radio-button>
        <mat-radio-button  value="4">5</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="flex flex-row items-center mt-2" *ngIf="wrong03">
      <mat-icon class="flex text-red-600 material-icons-outlined text-5xl w-12 h-12 mr-2">cancel</mat-icon>
      <p class="m-0">Respuesta incorrecta</p>
    </div>
    <button mat-raised-button *ngIf="wrong03" class="bg-[#005883] text-white" (click)="openFeedback(3)">Ver retroalimentación</button>


    <div class="flex flex-row items-center mt-2" *ngIf="good03">
      <mat-icon class="flex text-green-600 material-icons-outlined text-5xl w-12 h-12 mr-2">check_circle</mat-icon>
      <p class="m-0">Bien Hecho</p>
    </div>

    <div class="mt-2">
      <p class="text-lg">D. ¿Cuánto es 7+1?</p>
      <mat-radio-group class="flex flex-col pl-8 grid-rows-4 gap-2" formControlName="fourth" [disabled]="disableQuestions">
        <mat-radio-button  value="1">9</mat-radio-button>
        <mat-radio-button  value="2">4</mat-radio-button>
        <mat-radio-button  value="3">8</mat-radio-button>
        <mat-radio-button  value="4">5</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="flex flex-row items-center mt-2" *ngIf="wrong03">
      <mat-icon class="flex text-red-600 material-icons-outlined text-5xl w-12 h-12 mr-2">cancel</mat-icon>
      <p class="m-0">Respuesta incorrecta</p>
    </div>
    <button mat-raised-button *ngIf="wrong03" class="bg-[#005883] text-white" (click)="openFeedback(4)">Ver retroalimentación</button>

    <div class="flex flex-row items-center mt-2" *ngIf="good03">
      <mat-icon class="flex text-green-600 material-icons-outlined text-5xl w-12 h-12 mr-2">check_circle</mat-icon>
      <p class="m-0">Bien Hecho</p>
    </div>


    <div class="my-4 w-full items-center flex flex-col">
      <button mat-raised-button *ngIf="!disableQuestions" (click)="checkAnswers()" disabled="{{form.invalid}}" class="bg-[#005883] text-white">Revisar Respuestas</button>
    </div>
  </form>

</div>

<div class="flex flex-row justify-between mt-2">
  <button class="btnBack" [routerLink]="['/Componentes/seleccion-multiple']">
    <span>Anterior</span>
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_back</mat-icon>
      </div>
    </div>
  </button>

  <button class="btnNext" [routerLink]="['/Componentes/Selección de conjunto']" >
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_forward</mat-icon>
      </div>
    </div>
    <span>Siguiente</span>
  </button>
</div>

