<div class="w-full flex flex-col md:flex-row h-screen">
  <div class="w-full md:w-1/2 flex flex-col items-center md:items-end h-auto justify-center">
    <div id="lottie-container-login" class="w-[90%] h-auto" ></div>
  </div>

  <div class="w-full md:w-1/2 flex flex-col items-center justify-center">
    <div class="flex flex-col items-center">
      <p class="mb-2 md:mb-4 text-xl md:text-3xl text-[#005883] font-semibold">Licify App</p>
      <div class="shadow-md p-6 md:p-10 shadow-gray-400 rounded-md flex flex-col items-center">
        <p class="text-xl md:text-3xl my-3 text-[#005883]">Inicio de sesión</p>
        <form  class="flex flex-col w-[90%] md:w-96" [formGroup]="form">
          <mat-form-field appearance="fill" class="my-3">
            <mat-icon matPrefix  class="text-gray-400 mr-2">account_circle</mat-icon>
            <mat-label>Dirección de correo</mat-label>
            <input type="email" matInput formControlName="email">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-icon matPrefix  class="text-gray-400 mr-2">lock</mat-icon>
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <div *ngIf="isError" class="w-full rounded border-2 border-red-600 px-2 py-2 flex flex-col items-center mb-5 animateError">
            <p class="m-0 text-red-600 font-bold text-md">{{messageError}}</p>
          </div>

          <button mat-raised-button (click)="login()" class="bg-[#005883] text-white text-2xl" [disabled]="form.invalid || loading">Ingresar</button>
        </form>
      </div>
    </div>
  </div>

</div>
