<div class="h-[calc(100vh-64px)] overflow-y-auto">
  <div class="flex flex-col h-full">
    <div >
      <mat-selection-list #shoes [multiple]="false" class="w-44 sm:w-48 md:w-52 lg:w-64" >
        <mat-accordion>
          <mat-expansion-panel [expanded]="expandPanel" class="boxExpandPanel">
            <mat-expansion-panel-header [ngClass]="{'matExpansion' : expandPanel}"
            matTooltip="hey"
            matTooltipClass="ClassTool"
            matTooltipPosition="right">
              <mat-panel-title [ngClass]="{'text-white' : expandPanel}">
                Textos
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <mat-list-option
            matTooltip="hey"
            matTooltipClass="ClassTool"
            matTooltipPosition="right"
            *ngFor="let item of menuText" [value]="item.text" color="primary" [selected]="item.select"
              [routerLink]="[item.ruta]" >
              <div class="flex flex-row items-center">
                <li class="textList list-disc"></li>
                <p class="textList my-2">{{item.text}}</p>
              </div>
              <mat-divider></mat-divider>
            </mat-list-option>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-divider></mat-divider>
        <mat-list-option
        matTooltip="hey"
        matTooltipClass="ClassTool"
        matTooltipPosition="right"
         *ngFor="let item of menu" [value]="item.text" color="primary" [selected]="item.select"
        [routerLink]="[item.ruta]" >
        {{item.text}}
        <mat-divider></mat-divider>
        </mat-list-option>
        <mat-accordion>
          <mat-expansion-panel [expanded]="expandChartPanel" class="boxExpandPanel">
            <mat-expansion-panel-header [ngClass]="{'matExpansion' : expandChartPanel}"
            matTooltip="hey"
            matTooltipClass="ClassTool"
            matTooltipPosition="right">
              <mat-panel-title [ngClass]="{'text-white' : expandChartPanel}">
                Gráficas
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <mat-list-option
            matTooltip="hey"
            matTooltipClass="ClassTool"
            matTooltipPosition="right"
            *ngFor="let item of menuCharts" [value]="item.text" color="primary" [selected]="item.select"
              [routerLink]="[item.ruta]" >
              <div class="flex flex-row items-center">
                <li class="textList list-disc"></li>
                <p class="textList my-2">{{item.text}}</p>
              </div>
              <mat-divider></mat-divider>
            </mat-list-option>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-divider></mat-divider>
      </mat-selection-list>
    </div>
  </div>
</div>
