<div class="w-full">
  <app-title-with-lsc [title]="'Control deslizante'" [nameVideo]="'Video 18. Coincidencia de pregunta.mov'"></app-title-with-lsc>
  <p>¿Cuánto es 10/2?</p>
  <mat-slider
  thumbLabel
  tickInterval="1000"
  step="1"
  min="0"
  max="10"
  aria-label="units"
  [formControl]="form"
  [disabled]="disabled"></mat-slider>

  <div class="my-4" *ngIf="!disabled">
    <button mat-raised-button (click)="askQuestion()" disabled="{{form.invalid}}" class="bg-[#005883] text-white">Enviar</button>
  </div>

  <div class="my-4 flex flex-col" *ngIf="disabled">
    <div class="flex flex-row items-center">
      <mat-icon *ngIf="check" class="flex text-green-600 material-icons-outlined text-5xl w-12 h-12 mr-2">check_circle</mat-icon>
      <p class="my-2" *ngIf="check">Acertaste</p>
      <mat-icon *ngIf="!check" class="flex text-red-600 material-icons-outlined text-5xl w-12 h-12 mr-2">cancel</mat-icon>
      <p class="my-2" *ngIf="!check">No acertaste</p>
    </div>
    <div class="ml-2">
      <button mat-raised-button (click)="openFeedback()" *ngIf="disabled" class="bg-[#005883] text-white">Ver Retroalimentación</button>
    </div>
  </div>
</div>

<div class="flex flex-row justify-between">
  <button class="btnBack" [routerLink]="['/Componentes/galeria-imagenes']">
    <span>Anterior</span>
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_back</mat-icon>
      </div>
    </div>
  </button>

  <button class="btnNext" [routerLink]="['/Componentes/presentacion-diapositivas']" >
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_forward</mat-icon>
      </div>
    </div>
    <span>Siguiente</span>
  </button>
</div>
