<app-title-with-lsc [title]="'Gráficas de columnas'" [nameVideo]="'Video 18. Coincidencia de pregunta.mov'"></app-title-with-lsc>

<p class="font-bold mt-2 text-xl">Análisis del flujo de dinero de una empresa</p>
<div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [yaxis]="chartOptions.yaxis"
    [legend]="chartOptions.legend"
    [fill]="chartOptions.fill"
    [stroke]="chartOptions.stroke"
    [tooltip]="chartOptions.tooltip"
    [xaxis]="chartOptions.xaxis"
  ></apx-chart>
</div>

<div class="my-4 flex flex-row justify-center w-full" >
  <button mat-raised-button (click)="changeBtn01()" *ngIf="btn01" class="bg-[#005883] text-white">Descripción de la gráfica</button>
  <button mat-raised-button (click)="changeBtn01()" *ngIf="!btn01" class="bg-[#005883] text-white">Ocultar descripción de la gráfica</button>
</div>

<div class="overflow-hidden">
  <div *ngIf="initBtn" [ngClass]="{'textOut': btn01,'textIn': !btn01}">
    <p>Descripción de la gráfica:</p>
    <p class="text-justify">
      En la gráfica se observa el flujo de los beneficios netos, ingresos y flujo de caja libre medidos en miles, desde febrero hasta octubre.
    </p>
    <p class="text-justify">
      Tabla de datos:
    </p>

    <div class="flex flex-col items-center">
      <div class="w-full max-w-[1000px] grid grid-cols-4 gap-1">
        <div class="w-full flex flex-col">
          <div class="w-full border border-black mb-1 p-1">
            <p class="m-0 text-center font-bold">Mes</p>
          </div>
          <div class="w-full border border-black mb-1 p-1" *ngFor="let item of xAxis">
            <p class="m-0 text-center">{{item}}</p>
          </div>
        </div>

        <div class="w-full flex flex-col">
          <div class="w-full border border-black mb-1 p-1">
            <p class="m-0 text-center font-bold">Beneficio neto</p>
          </div>
          <div class="w-full border border-black mb-1 p-1" *ngFor="let item of yAxis1">
            <p class="m-0 text-center">$ {{item}} miles</p>
          </div>
        </div>

        <div class="w-full flex flex-col">
          <div class="w-full border border-black mb-1 p-1">
            <p class="m-0 text-center font-bold">Ingresos</p>
          </div>
          <div class="w-full border border-black mb-1 p-1" *ngFor="let item of yAxis2">
            <p class="m-0 text-center">$ {{item}} miles</p>
          </div>
        </div>

        <div class="w-full flex flex-col">
          <div class="w-full border border-black mb-1 p-1">
            <p class="m-0 text-center font-bold">Flujo de caja libre</p>
          </div>
          <div class="w-full border border-black mb-1 p-1" *ngFor="let item of yAxis3">
            <p class="m-0 text-center">$ {{item}} miles</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="flex flex-row justify-between mt-4">
  <button class="btnBack" [routerLink]="['/Componentes/graficas/area']">
    <span>Anterior</span>
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_back</mat-icon>
      </div>
    </div>
  </button>

  <button class="btnNext" [routerLink]="['/Componentes/graficas/barras']" >
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_forward</mat-icon>
      </div>
    </div>
    <span>Siguiente</span>
  </button>
</div>

