<div class="w-full">
  <h1 class="font-bold text-xl mb-4">Selección múltiple con imágenes</h1>
  <p>Escoja la imágen que tiene un "Pug".</p>
  <form autocomplete="off" [formGroup]="form" >
    <mat-radio-group class="grid grid-cols-3 gap-4 w-full" formControlName="first" [disabled]="feedbackContainer">
      <div class="flex flex-col items-center">
        <img src="http://c.files.bbci.co.uk/48DD/production/_107435681_perro1.jpg">
        <p>Imagen del primer perrito</p>
        <mat-radio-button  value="1">1</mat-radio-button>
      </div>
      <div class="flex flex-col items-center">
        <img src="https://images.hola.com/imagenes/mascotas/20221020219416/razas-perros-toy/1-154-385/razas-de-perro-toy-t.jpg">
        <p>Imagen del segundo perrito</p>
        <mat-radio-button  value="2">2</mat-radio-button>
      </div>
      <div class="flex flex-col items-center">
        <img src="https://fotografias.antena3.com/clipping/cmsimages01/2022/08/12/F30768A2-C006-4CF1-8701-6026559DB725/mas-4000-perros-utilizados-experimentos-cientificos-buscan-hogar-adopcion_98.jpg?crop=1920,1080,x0,y0&width=1900&height=1069&optimize=low&format=webply">
        <p>Imagen del Tercer perrito</p>
        <mat-radio-button  value="3">3</mat-radio-button>
      </div>
    </mat-radio-group>
  </form>
  <div class="my-4" *ngIf="!feedbackContainer">
    <button mat-raised-button (click)="askQuestion()" disabled="{{form.invalid}}">Enviar</button>
  </div>

  <div class="my-4 flex flex-row" *ngIf="feedbackContainer">
    <p class="my-2" *ngIf="check">Acertaste</p>
    <p class="my-2" *ngIf="!check">No acertaste</p>
    <div class="ml-2">
      <button mat-raised-button (click)="openFeedback()" *ngIf="!check">Ver Retroalimentación</button>
    </div>
  </div>
</div>
