<div class="flex flex-row items-center">
  <mat-icon class="flex text-[#F0B429] material-icons-outlined text-5xl w-12 h-12">description</mat-icon>
  <h1 class="font-bold text-xl mb-4">Mapa conceptual con botones para desplegar información</h1>
</div>
<mat-divider></mat-divider>

<p class="mt-8 text-3xl text-[#005883]">How can I structure the body of the literature review?</p>

<div class="p-4 mt-2 border-4 border-[#005883] bg-white z-[100] relative">
  <p>Depending on the length of the review and on its purposes, you can organize your literature review using different approaches. You can choose one of the following methodologies or you can combine them but congruently.</p>
  <p class="text-xl font-bold m-0">Click on the icons below to listen to the descriptions of the approaches.</p>
</div>
<div class="w-full pl-16 flex flex-col">
  <div [ngClass]="{'btnMapBefore':!btn01,'btnMapBeforeActive':btn01}" (click)="handleDiv01()">
      <p class="m-0 p-1 text-xl"><strong>Chronological or historical approach: </strong> review within a period of time.</p>
  </div>
  <div class="btnMapBeforeInformation" [ngClass]="{'animate-[slidedown]':btn01,'animate-[slideUp]':!btn01 }" *ngIf="div01">
    <div class="overflow-hidden" [ngClass]="{'textOut':!btn01}">
      <div class="p-4 md:p-8" [ngClass]="{'textHorAppear':btn01}">
        <audio
          class="w-full border-black rounded-full border"
          controls
          controlsList="nodownload"
          src="../../../../../assets/audios/Diapositiva6-1.mp3">
        </audio>
        <p >This methodology is about tracing the development of the topics or theories over time. You need to explain and interpret this development by analyzing patterns, turning points and key debates that have shaped the direction of the field.</p>
        <p>For the review, it is important to set a starting date, year or period and justify the choice of this period.</p>
        <p class="m-0">This chronological approach is related to a historical one since it focuses on examining research throughout a period of time, often starting with the first time an issue, concept, theory, phenomena emerged in the literature, then tracing its evolution within the scholarship of a discipline. The purpose is to place research in a historical context to show familiarity with state-of-the-art developments and to identify the likely directions for future research.</p>
      </div>
    </div>
  </div>

  <div [ngClass]="{'btnMapBefore':!btn02,'btnMapBeforeActive':btn02}" (click)="handleDiv02()">
    <p class="m-0 p-1 text-xl"><strong>Thematic approach: </strong>review organized in themes and concepts.</p>
  </div>
  <div class="btnMapBeforeInformation" [ngClass]="{'animate-[slidedown]':btn02,'animate-[slideUp]':!btn02 }" *ngIf="div02">
    <div class="overflow-hidden" [ngClass]="{'textOut':!btn02}">
      <div class="p-4 md:p-8" [ngClass]="{'textHorAppear':btn02}">
        <p >With this methodology, you can organize the literature review into several subsections to address the different themes, concepts and aspects of your topics, but you have to be careful not to just make a list of themes; the presentation of the research must respond to an organizational pattern in order to attain connections.</p>
        <p class="m-0">The thematic approach can also be developed along with the chronological approach to account for the progression of time of the different themes.</p>
      </div>
    </div>
  </div>

  <div [ngClass]="{'btnMapBefore':!btn03,'btnMapBeforeActive':btn03}" (click)="handleDiv03()">
    <p class="m-0 p-1 text-xl"><strong>Methodological approach: </strong>review based on research procedures.</p>
  </div>
  <div class="btnMapBeforeInformation" [ngClass]="{'animate-[slidedown]':btn03,'animate-[slideUp]':!btn03 }" *ngIf="div03">
    <div class="overflow-hidden" [ngClass]="{'textOut':!btn03}">
      <div class="p-4 md:p-8" [ngClass]="{'textHorAppear':btn03}">
        <p >A literature review can also emphasize the methods or procedures that the different research studies implemented to obtain and analyze data, as well as to state the final findings. This means that the review cares more about how the researchers came about stating the findings more than the findings themselves, unlike the thematic approach, which emphasizes more the results.</p>
        <p class="m-0">Reviewing methods of analysis provides a framework of understanding at different levels, for example, qualitative and quantitative approaches, empirical and scientific research, ethnographic and experimental research, etc.</p>
      </div>
    </div>
  </div>

  <div [ngClass]="{'btnMapBefore':!btn04,'btnMapBeforeActive':btn04}" (click)="handleDiv04()">
    <p class="m-0 p-1 text-xl"><strong>Theoretical approach: </strong>review to discuss and question theories.</p>
  </div>
  <div class="btnMapBeforeInformation" [ngClass]="{'animate-[slidedown]':btn04,'animate-[slideUp]':!btn04 }" *ngIf="div04">
    <div class="overflow-hidden" [ngClass]="{'textOut':!btn04}">
      <div class="p-4 md:p-8" [ngClass]="{'textHorAppear':btn04}">
        <p >In this kind of lit review, you can discuss theories, concepts, approaches, etc. This approach can mean the theoretical framework for your research to the extent that it helps to establish what theories already exist, the relationships between them, to what degree the existing theories have been investigated, and to develop new hypotheses to be tested.</p>
        <p>Often this form is used to help establish a lack of appropriate theories or reveal that current theories are inadequate for explaining new or emerging research problems.</p>
        <p class="m-0">The unit of analysis can focus on a theoretical concept or a whole theory or framework.</p>
      </div>
    </div>
  </div>

  <div [ngClass]="{'btnMapBeforeLast':!btn05,'btnMapBeforeLastActive':btn05}" (click)="handleDiv05()">
    <p class="m-0 p-1 text-xl"><strong>Argumentative approach: </strong>review to support or refute an argument.</p>
  </div>
  <div class="btnMapBeforeInformationLast" [ngClass]="{'animate-[slidedown]':btn05,'animate-[slideUp]':!btn05 }" *ngIf="div05">
    <div class="overflow-hidden" [ngClass]="{'textOut':!btn05}">
      <div class="p-4 md:p-8" [ngClass]="{'textHorAppear':btn05}">
        <p >This approach examines literature selectively in order to support or refute an argument, a deeply imbedded assumption, a hypothesis, or a philosophical problem already established in the literature. The purpose is to develop a body of literature that establishes a contrarian viewpoint.</p>
        <p class="m-0">Argumentative approaches to analyzing the literature can be a legitimate and important form of discourse.</p>
      </div>
    </div>
  </div>

  <div class="w-full pl-8 flex flex-col">
    <div [ngClass]="{'btnMapBefore':!btn06,'btnMapBeforeActive':btn06}" (click)="handleDiv06()">
      <p class="m-0 p-1 text-xl"><strong>Theoretical approach: </strong>review to discuss and question theories.</p>
    </div>
    <div class="btnMapBeforeInformation" [ngClass]="{'animate-[slidedown]':btn06,'animate-[slideUp]':!btn06 }" *ngIf="div06">
      <div class="overflow-hidden" [ngClass]="{'textOut':!btn06}">
        <div class="p-4 md:p-8" [ngClass]="{'textHorAppear':btn06}">
          <p >In this kind of lit review, you can discuss theories, concepts, approaches, etc. This approach can mean the theoretical framework for your research to the extent that it helps to establish what theories already exist, the relationships between them, to what degree the existing theories have been investigated, and to develop new hypotheses to be tested.</p>
          <p>Often this form is used to help establish a lack of appropriate theories or reveal that current theories are inadequate for explaining new or emerging research problems.</p>
          <p class="m-0">The unit of analysis can focus on a theoretical concept or a whole theory or framework.</p>
        </div>
      </div>
    </div>

    <div [ngClass]="{'btnMapBeforeLast':!btn07,'btnMapBeforeLastActive':btn07}" (click)="handleDiv07()">
      <p class="m-0 p-1 text-xl"><strong>Argumentative approach: </strong>review to support or refute an argument.</p>
    </div>
    <div class="btnMapBeforeInformationLast" [ngClass]="{'animate-[slidedown]':btn07,'animate-[slideUp]':!btn07 }" *ngIf="div07">
      <div class="overflow-hidden" [ngClass]="{'textOut':!btn07}">
        <div class="p-4 md:p-8" [ngClass]="{'textHorAppear':btn07}">
          <p >This approach examines literature selectively in order to support or refute an argument, a deeply imbedded assumption, a hypothesis, or a philosophical problem already established in the literature. The purpose is to develop a body of literature that establishes a contrarian viewpoint.</p>
          <p class="m-0">Argumentative approaches to analyzing the literature can be a legitimate and important form of discourse.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-row justify-between mt-2">
  <button class="btnBack" [routerLink]="['/Componentes/texto/cajas-de-informacion']">
    <span>Anterior</span>
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_back</mat-icon>
      </div>
    </div>
  </button>

  <button class="btnNext" [routerLink]="['/Componentes/texto/textos-con-imagenes']" >
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_forward</mat-icon>
      </div>
    </div>
    <span>Siguiente</span>
  </button>
</div>

