<app-title-with-lsc [title]="'Componentes'" [nameVideo]="'Video 18. Coincidencia de pregunta.mov'"></app-title-with-lsc>

<div class="my-4 w-full flex flex-col items-center">
  <mat-accordion class="flex flex-col w-full max-w-7xl">
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Componentes de texto
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false" class="pl-3 pt-0">
        <mat-list-option *ngFor="let item of textComponents" [value]="item.text" color="primary" [routerLink]="[item.ruta]" class="textList">
          <div class="flex flex-row items-center">
            <li class="textList list-disc"></li>
            <p class="textList my-2">{{item.text}}</p>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>

    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Componentes de imagen
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false" class="pl-3 pt-0">
        <mat-list-option *ngFor="let item of imageComponents" [value]="item.text" color="primary" [routerLink]="[item.ruta]" class="textList">
          <div class="flex flex-row items-center">
            <li class="textList list-disc"></li>
            <p class="textList my-2">{{item.text}}</p>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>

    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Componentes de video
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false" class="pl-3 pt-0">
        <mat-list-option *ngFor="let item of videoComponents" [value]="item.text" color="primary" [routerLink]="[item.ruta]" class="textList">
          <div class="flex flex-row items-center">
            <li class="textList list-disc"></li>
            <p class="textList my-2">{{item.text}}</p>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>

    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Componentes de documentos
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false" class="pl-3 pt-0">
        <mat-list-option *ngFor="let item of docsComponents" [value]="item.text" color="primary" [routerLink]="[item.ruta]" class="textList">
          <div class="flex flex-row items-center">
            <li class="textList list-disc"></li>
            <p class="textList my-2">{{item.text}}</p>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>

    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Componentes de acordeón
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false" class="pl-3 pt-0">
        <mat-list-option *ngFor="let item of acordeonComponents" [value]="item.text" color="primary" [routerLink]="[item.ruta]" class="textList">
          <div class="flex flex-row items-center">
            <li class="textList list-disc"></li>
            <p class="textList my-2">{{item.text}}</p>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>

    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Componentes de preguntas
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false" class="pl-3 pt-0">
        <mat-list-option *ngFor="let item of questionComponents" [value]="item.text" color="primary" [routerLink]="[item.ruta]" class="textList">
          <div class="flex flex-row items-center">
            <li class="textList list-disc"></li>
            <p class="textList my-2">{{item.text}}</p>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>

    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Componentes de gráficas
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false" class="pl-3 pt-0">
        <mat-list-option *ngFor="let item of chartComponents" [value]="item.text" color="primary" [routerLink]="[item.ruta]" class="textList">
          <div class="flex flex-row items-center">
            <li class="textList list-disc"></li>
            <p class="textList my-2">{{item.text}}</p>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
