<app-title-with-lsc [title]="'Videos'" [nameVideo]="'Video 18. Coincidencia de pregunta.mov'"></app-title-with-lsc>

<div class="w-full flex flex-row justify-center">
  <iframe   class="my-4 w-full h-[300px] sm:h-[350px] md:h-[400px] lg:h-[450px] xl:h-[500px]" src="https://www.youtube.com/embed/efpr-tu9qF4" title="Ejercicio Trabajo y Energía Nivel básico (Aprende con niveles) | Aprende Rápido Trabajo y Energía" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="my-4 flex flex-row justify-center w-full" >
  <button mat-raised-button (click)="changeBtn01()" *ngIf="btn01" class="bg-[#005883] text-white">Transcripción del video</button>
  <button mat-raised-button (click)="changeBtn01()" *ngIf="!btn01" class="bg-[#005883] text-white">Ocultar transcripción</button>
</div>

<div class="overflow-hidden">
  <div *ngIf="initBtn" [ngClass]="{'textOut': btn01,'textIn': !btn01}">
    <p class="text-justify">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </div>
</div>

<div class="flex flex-row justify-between">
  <button class="btnBack" routerLink="/Componentes/imagenes">
    <span>Anterior</span>
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_back</mat-icon>
      </div>
    </div>
  </button>

  <button class="btnNext" routerLink="/Componentes/seleccion-multiple" >
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_forward</mat-icon>
      </div>
    </div>
    <span>Siguiente</span>
  </button>
</div>
