<div class="flex flex-row items-center">
  <mat-icon class="flex text-[#F0B429] material-icons-outlined text-5xl w-12 h-12 mr-2">description</mat-icon>
  <h1 class="font-bold text-3xl">Selección de conjunto</h1>
</div>
<mat-divider></mat-divider>

<div class="p-4 mt-2 border-4 border-[#005883]">
  <p>Read the research question below and select the topics that you would use for the review of the literature, according to the topics and problems that can be perceived from this question. Read the concepts and click on the ones that you consider appropriate.</p>
  <p class="text-xl font-bold m-0">What is the impact of the language used in social media on academic writing among young learners?</p>
</div>

<div class="w-full py-4 px-16 flex flex-wrap flex-row gap-4 justify-center">

  <div class="flex relative">
    <mat-icon class="flex text-red-600 text-5xl w-12 h-12 cursor-pointer absolute right-[-15%] bottom-[50%] backRadial" *ngIf="btn05" [ngClass]="{'cursor-default':btn05 || congrat}">cancel</mat-icon>
    <button class="p-4 border-2 border-[#005883] rounded-md text-[#005883] font-bold" (click)="handleBtn05()" [ngClass]="{'cursor-default':btn05 || congrat }"
    >Paraphrasing</button>
  </div>

  <button class="p-4 border-2 border-[#005883] rounded-md text-[#005883] font-bold" *ngIf="!btn01" (click)="handleBtn01()" >Social networking sites</button>
  <button class="p-4 border-2 border-[#005883] rounded-md text-[#005883] font-bold" *ngIf="!btn02" (click)="handleBtn02()">Abbreviations and acronyms</button>
  <button class="p-4 border-2 border-[#005883] rounded-md text-[#005883] font-bold" *ngIf="!btn03" (click)="handleBtn03()">The language of internet</button>

  <div class="flex relative">
    <mat-icon class="flex text-red-600 text-5xl w-12 h-12 cursor-pointer absolute right-[-8%] bottom-[50%] backRadial" *ngIf="btn06" [ngClass]="{'cursor-default':btn06 || congrat}">cancel</mat-icon>
    <button class="p-4 border-2 border-[#005883] rounded-md text-[#005883] font-bold" (click)="handleBtn06()" [ngClass]="{'cursor-default':btn06 || congrat}">Self-esteem and self-image</button>
  </div>

  <div class="flex relative">
    <mat-icon class="flex text-red-600 text-5xl w-12 h-12 cursor-pointer absolute right-[-11%] bottom-[50%] backRadial" *ngIf="btn07" [ngClass]="{'cursor-default':btn07 || congrat}">cancel</mat-icon>
    <button class="p-4 border-2 border-[#005883] rounded-md text-[#005883] font-bold" (click)="handleBtn07()" [ngClass]="{'cursor-default':btn07 || congrat}">Extrinsic motivation</button>
  </div>

  <button class="p-4 border-2 border-[#005883] rounded-md text-[#005883] font-bold" *ngIf="!btn04" (click)="handleBtn04()">The economy of language</button>

</div>

<div class="py-6 px-10 mt-2 border-4 border-[#005883] border-dashed rounded-md  flex flex-wrap flex-row justify-center gap-6">
  <div class="flex relative divCorrectAnswer" *ngIf="btn01">
    <mat-icon class="flex text-green-600 text-5xl w-12 h-12 cursor-pointer absolute right-[-10%] bottom-[50%] backRadialGood cursor-default" >check_circle</mat-icon>
    <button class="p-4 border-2 border-green-600 bg-[#005883] rounded-md text-white font-bold cursor-default">Social networking sites</button>
  </div>

  <div class="flex relative divCorrectAnswer" *ngIf="btn02">
    <mat-icon class="flex text-green-600 text-5xl w-12 h-12 cursor-pointer absolute right-[-10%] bottom-[50%] backRadialGood cursor-default" >check_circle</mat-icon>
    <button class="p-4 border-2 border-green-600 bg-[#005883] rounded-md text-white font-bold cursor-default">Abbreviations and acronyms</button>
  </div>

  <div class="flex relative divCorrectAnswer" *ngIf="btn03">
    <mat-icon class="flex text-green-600 text-5xl w-12 h-12 cursor-pointer absolute right-[-10%] bottom-[50%] backRadialGood cursor-default" >check_circle</mat-icon>
    <button class="p-4 border-2 border-green-600 bg-[#005883] rounded-md text-white font-bold cursor-default">The language of internet</button>
  </div>

  <div class="flex relative divCorrectAnswer" *ngIf="btn04">
    <mat-icon class="flex text-green-600 text-5xl w-12 h-12 cursor-pointer absolute right-[-10%] bottom-[50%] backRadialGood cursor-default" >check_circle</mat-icon>
    <button class="p-4 border-2 border-green-600 bg-[#005883] rounded-md text-white font-bold cursor-default">The economy of language</button>
  </div>
</div>

<div class="w-full flex flex-row justify-center my-4" *ngIf="congrat">
  <h1 class="text-5xl font-bold">Congratulations!!!</h1>
</div>

<div class="flex flex-row justify-between mt-4">
  <button class="btnBack" [routerLink]="['/Componentes/varias-seleccion-multiple']">
    <span>Anterior</span>
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_back</mat-icon>
      </div>
    </div>
  </button>

  <button class="btnNext" [routerLink]="['/Componentes/acordeon']" >
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_forward</mat-icon>
      </div>
    </div>
    <span>Siguiente</span>
  </button>
</div>

