<div class="flex flex-row items-center">
  <mat-icon class="flex text-[#F0B429] material-icons-outlined text-5xl w-12 h-12">description</mat-icon>
  <h1 class="font-bold text-xl mb-4">Cajas de texto animadas</h1>
</div>
<mat-divider></mat-divider>

<div class="w-full grid grid-cols-3 gap-4 mt-2">

  <div>
    <div class="p-8 textBoxMov">
      <h1>Why set up the literature review?</h1>
      <p class="text-justify">The lit review is one of the most important bases for any research study since it situates the research within existing knowledge for several reasons. Any research study should explain what the reasons for the lit review are.</p>
    </div>
  </div>

  <div>
    <div class="p-8 textBoxMovYellow">
      <h1>Why set up the literature review?</h1>
      <p class="text-justify">The lit review is one of the most important bases for any research study since it situates the research within existing knowledge for several reasons. Any research study should explain what the reasons for the lit review are.</p>
    </div>
  </div>

  <div>
    <div class="p-8 textBoxMovOrange">
      <audio
        class="w-full border-black rounded-full border"
        controls
        controlsList="nodownload"
        src="../../../../assets/audios/Diapositiva4-1.mp3">
      </audio>
      <h1 class="font-bold text-xl mb-1">What else do I need to consider about the lit review?</h1>
      <p class="text-justify">Check these statements and consider them when developing the review:</p>
      <p class="text-justify ">Length and details of the review, number of citations, and whether it would include all relevant material or just recent material.</p>
      <p class="text-justify m-0">Check these statements and consider them when developing the review:</p>
    </div>
  </div>

</div>

<div class="flex flex-row justify-between mt-2">
  <button class="btnBack" [routerLink]="['/Componentes/texto/mapa-conceptual']">
    <span>Anterior</span>
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_back</mat-icon>
      </div>
    </div>
  </button>

  <button class="btnNext" [routerLink]="['/Componentes/texto/iconos-botones-para-desplegar-texto']" >
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_forward</mat-icon>
      </div>
    </div>
    <span>Siguiente</span>
  </button>
</div>
