<div class="flex flex-row items-center">
  <mat-icon class="flex text-[#F0B429] material-icons-outlined text-5xl w-12 h-12 mr-2">description</mat-icon>
  <h1 class="font-bold text-3xl">Seleción de listas</h1>
</div>
<mat-divider></mat-divider>
<p class="mt-2">Escoja la opción con el color "rojo" en inglés</p>
<mat-form-field appearance="outline"  class="w-80">
  <mat-label>Escoja la opción correcta</mat-label>
  <mat-select [disabled]="disableSelect" [formControl]="Select">
    <mat-option value="option1">Yellow</mat-option>
    <mat-option value="option2" >Red</mat-option>
    <mat-option value="option3">Blue</mat-option>
  </mat-select>
</mat-form-field>
<div class="my-4" *ngIf="!disableSelect">
  <button mat-raised-button (click)="askQuestion()" disabled="{{Select.invalid}}" class="bg-[#005883] text-white">Enviar</button>
</div>

<div class="my-4 flex flex-col" *ngIf="disableSelect">
  <div class="flex flex-row items-center">
    <mat-icon *ngIf="check" class="flex text-green-600 material-icons-outlined text-5xl w-12 h-12 mr-2">check_circle</mat-icon>
    <p class="my-2" *ngIf="check">Acertaste</p>
    <mat-icon *ngIf="!check" class="flex text-red-600 material-icons-outlined text-5xl w-12 h-12 mr-2">cancel</mat-icon>
    <p class="my-2" *ngIf="!check">No acertaste</p>
  </div>
  <div class="ml-2">
    <button mat-raised-button (click)="openFeedback()" *ngIf="disableSelect" class="bg-[#005883] text-white">Ver Retroalimentación</button>
  </div>
</div>


<div class="flex flex-row justify-between">
  <button class="btnBack" [routerLink]="['/Componentes/presentacion-diapositivas']">
    <span>Anterior</span>
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_back</mat-icon>
      </div>
    </div>
  </button>

  <button class="btnNext" [routerLink]="['/Componentes/varias-seleccion-listas']" >
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_forward</mat-icon>
      </div>
    </div>
    <span>Siguiente</span>
  </button>
</div>
