<div *ngIf="!loading">
  <p class="text-xl md:text-3xl font-bold text-center">{{builder?'Detalles del proyecto':'Detalles de la aplicación'}}</p>
  <div class="flex flex-row text-lg md:text-2xl mt-4">
    <p class="font-bold">Proyecto: </p>
    <p class="ml-2">{{projectData?.name}}</p>
  </div>
  <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div class="flex flex-row text-base md:text-xl">
      <p class="font-bold">Fecha de inicio: </p>
      <p class="ml-2">{{projectData?.startDate | date : 'dd/MM/yyyy'}}</p>
    </div>
    <div class="flex flex-row text-base md:text-xl">
      <p class="font-bold">Fecha de fin: </p>
      <p class="ml-2">{{projectData?.endDate | date : 'dd/MM/yyyy'}}</p>
    </div>
  </div>

  <div class="flex flex-row items-center gap-4 mb-2 overflow-auto w-full mt-4">
    <div *ngFor="let image of projectData?.images" >
      <img [src]="image.url" alt="Preview" class="h-[300px] w-auto max-w-[800px!important]">
    </div>
  </div>

  <div class="w-full" *ngIf="builder">
    <div class="flex flex-row mt-6 pb-2 px-2 border-b-black border-b-2 mb-2 text-base md:text-lg font-semibold">
      <p class="w-1/2">
        Item
      </p>
      <p class="w-1/2">
        Valor
      </p>
    </div>

    <div class="flex flex-row mt-2 pb-2 px-2 border-b-black border-b-2 mb-2" *ngFor="let item of projectData?.items">
      <p class="w-1/2">
        {{item.name}}
      </p>
      <p class="w-1/2">
        {{item.value | currency : 'USD'}}
      </p>
    </div>

    <p class="mt-4 text-lg md:text-2xl font-bold">Aplicaciones:</p>

    <div class="w-full mt-4" *ngFor="let aplication of aplications">
      <div class="flex flex-row pb-2 px-2 border-b-black border-b-2 mb-2 text-base md:text-lg font-semibold">
        <p class="w-1/2">
          Usuario:
        </p>
        <p class="w-1/2">
          {{aplication.applicant}}
        </p>
      </div>

      <div class="flex flex-row mt-4 pb-2 px-2 border-b-black border-b-2 mb-2 text-base md:text-lg font-semibold">
        <p class="w-1/2">
          Item
        </p>
        <p class="w-1/2">
          Valor propuesto
        </p>
      </div>

      <div class="flex flex-row mt-2 pb-2 px-2 border-b-black border-b-2 mb-2" *ngFor="let item of aplication?.items">
        <p class="w-1/2">
          {{item.name}}
        </p>
        <p class="w-1/2">
          {{item.value | currency : 'USD'}}
        </p>
      </div>
    </div>

  </div>

  <div class="w-full" *ngIf="!builder">
    <div class="flex flex-row mt-6 pb-2 px-2 border-b-black border-b-2 mb-2 text-base md:text-lg font-semibold">
      <p class="w-1/3">
        Item
      </p>
      <p class="w-1/3">
        Valor
      </p>
      <p class="w-1/3">
        Valor propuesto
      </p>
    </div>

    <div class="flex flex-row mt-2 pb-2 px-2 border-b-black border-b-2 mb-2" *ngFor="let item of items">
      <p class="w-1/3">
        {{item.name}}
      </p>
      <p class="w-1/3">
        {{item.value | currency : 'USD'}}
      </p>
      <p class="w-1/3">
      {{item.newValue | currency : 'USD'}}
      </p>
    </div>
  </div>

  <div class="flex flex-row justify-between my-4">
    <button mat-raised-button (click)="navigate('/')" class="buttonBlue">
      regresar
    </button>
    <!-- <button mat-raised-button type="submit" (click)="openWarning()" class="buttonBlue">
      Aplicar
    </button> -->
  </div>
</div>

