<div class="flex flex-row justify-center h-screen">
  <div class="flex flex-col h-full">
    <div class="flex flex-row justify-center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Logo_unad.png" class="max-w-[150px] h-auto iconUNAD">
    </div>
    <div class="w-full flex flex-row justify-center menuResponsive">
      <p class="text-2xl font-bold mt-2 mb-0">Menú</p>
    </div>
    <div class="overflow-y-auto menuResponsive">
      <mat-selection-list #shoes [multiple]="false" class="w-52" >
        <mat-list-option  *ngFor="let item of menu" [value]="item.text" color="primary" [selected]="item.select"
        [routerLink]="[item.ruta]" (click)="dialogRef.close()">
        {{item.text}}
        <mat-divider></mat-divider>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
</div>
