<div class="flex flex-row justify-center">
  <div class="flex flex-col">
    <div class="w-full bg-[#005883] flex flex-row justify-center">
      <p class="text-white text-2xl font-bold my-2 mx-4">Retroalimentación</p>
    </div>
    <div class="p-4 flex flex-col items-center">
      <h1 class="text-xl font-bold">{{data.title}}</h1>
      <mat-icon class="text-[#F0B429] material-icons-outlined">info</mat-icon>
      <p class="my-4">{{data.text}}</p>
      <div class="flex justify-center">
        <button mat-raised-button (click)="dialogRef.close()" class="bg-[#005883] text-white">Cerrar</button>
      </div>
    </div>
  </div>
</div>

