<div class="flex flex-row w-full justify-center">
  <div class="flex flex-col w-full max-w-screen-2xl shadow-lg shadow-gray-400">
    <div class="w-full flex flex-row justify-center bg-[#005883] h-16">
      <div class="flex flex-col justify-center h-full">
        <p class="text-white text-4xl">Proyecto Demo</p>
      </div>
    </div>
    <div class="w-full flex flex-row" >
      <div class="flex flex-col ">
        <app-menu></app-menu>
      </div>
      <div class="flex flex-row justify-center m-4 w-full">
        <div class="w-full max-w-screen-lg" >
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
