<h1 class="font-bold text-xl mb-4">Acordeón</h1>
<mat-accordion class="flex flex-col w-80">
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Item 1
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Este es el item 1.</p>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Item 2
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Este es el item 2.</p>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Item 3
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Este es el item 3.</p>
  </mat-expansion-panel>
</mat-accordion>
<div class="flex flex-row justify-between">
  <button class="btnBack" [routerLink]="['/Componentes/seleccion-multiple']">
    <span>Anterior</span>
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_back</mat-icon>
      </div>
    </div>
  </button>

  <button class="btnNext" [routerLink]="['/Componentes/iframe']" >
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_forward</mat-icon>
      </div>
    </div>
    <span>Siguiente</span>
  </button>
</div>
