<app-title-with-lsc [title]="'Acordeón'" [nameVideo]="'Video 18. Coincidencia de pregunta.mov'"></app-title-with-lsc>

<div class="my-2 w-full flex flex-col items-center">
  <mat-accordion class="flex flex-col w-full max-w-7xl">
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Texto
        </mat-panel-title>
        <mat-panel-description>
          Panel con texto
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="w-full py-2 px-4">
        <p class="text-justify text-base">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Imagen
        </mat-panel-title>
        <mat-panel-description>
          Panel con imagen
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="w-full py-2 px-4 flex flex-col items-center">
        <img src="https://images.hola.com/imagenes/mascotas/20221020219416/razas-perros-toy/1-154-385/razas-de-perro-toy-t.jpg" class="max-w-2xl w-full flex">
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Texto e imagen
        </mat-panel-title>
        <mat-panel-description>
          Panel con texto e imagen
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="w-full py-2 px-4 gap-4 flex flex-col items-center grid md:grid-cols-3">
        <img src="https://images.hola.com/imagenes/mascotas/20221020219416/razas-perros-toy/1-154-385/razas-de-perro-toy-t.jpg" class="max-w-2xl  w-full md:col-span-1">
        <p class="text-justify text-base md:col-span-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="flex flex-row justify-between">
  <button class="btnBack" [routerLink]="['/Componentes/verificacion-opciones']">
    <span>Anterior</span>
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_back</mat-icon>
      </div>
    </div>
  </button>

  <button class="btnNext" [routerLink]="['/Componentes/iframe']" >
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_forward</mat-icon>
      </div>
    </div>
    <span>Siguiente</span>
  </button>
</div>
