<div class="flex flex-row items-center">
  <mat-icon class="flex text-[#F0B429] material-icons-outlined text-5xl w-12 h-12">description</mat-icon>
  <h1 class="font-bold text-xl mb-4">Parrafo con selección de listas</h1>
</div>
<mat-divider></mat-divider>

<p class="mt-2 font-bold text-xl">Choose the correct options in the text below</p>

<form autocomplete="off" [formGroup]="form">

  <p class="text-justify">
    A long time ago, a husband and wife
    <select class="border-2 border-black rounded" formControlName="first">
      <option value=""></option>
      <option value="live">live</option>
      <option value="living">living</option>
      <option value="lived">lived</option>
    </select>
    <mat-icon class="flex text-red-600 material-icons-outlined " *ngIf="wrong01">cancel</mat-icon>
    <mat-icon class="flex text-green-600 material-icons-outlined " *ngIf="good01">check_circle</mat-icon>
    happily in a cottage at the edge of a wood. But one day the wife fell ill. She
    <select class="border-2 border-black rounded" formControlName="second">
      <option value=""></option>
      <option value="can">can</option>
      <option value="could">could</option>
      <option value="can't">can't</option>
    </select>
    <mat-icon class="flex text-red-600 material-icons-outlined " *ngIf="wrong02">cancel</mat-icon>
    <mat-icon class="flex text-green-600 material-icons-outlined " *ngIf="good02">check_circle</mat-icon>
    eat nothing and grew thinner and thinner. The only thing that could cure her,
    <select class="border-2 border-black rounded" formControlName="third">
      <option value=""></option>
      <option value="was">was</option>
      <option value="is">is</option>
      <option value="are">are</option>
    </select>
    <mat-icon class="flex text-red-600 material-icons-outlined " *ngIf="wrong03">cancel</mat-icon>
    <mat-icon class="flex text-green-600 material-icons-outlined " *ngIf="good03">check_circle</mat-icon>
     a strange herb called rapunzel, that grew in the beautiful garden next to their cottage. This garden belonged to a wicked witch, who used it to grow herbs for her spells.
  </p>

  <div class="my-4 w-full items-center flex flex-col">
    <button mat-raised-button (click)="checkAnswers()" disabled="{{form.invalid}}" *ngIf="!disabled" class="bg-[#005883] text-white">Check answers</button>
  </div>
  <div class="my-4 w-full items-center flex flex-col" *ngIf="feedback">
    <button mat-raised-button (click)="openFeedback()" class="bg-[#005883] text-white">Feedback</button>
  </div>
  <div class="my-4 w-full items-center flex flex-col" *ngIf="wellDone">
    <h1 class="text-3xl font-bold">Well done!</h1>
  </div>

</form>


<div class="flex flex-row justify-between mt-2">
  <button class="btnBack" [routerLink]="['/Componentes/varias-seleccion-listas']">
    <span>Anterior</span>
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_back</mat-icon>
      </div>
    </div>
  </button>

  <button class="btnNext" [routerLink]="['/Componentes/seleccion-multiple-imagenes']" >
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_forward</mat-icon>
      </div>
    </div>
    <span>Siguiente</span>
  </button>
</div>
