<div class="accesibilidad" >
  <ul class="accesitems">

      <li class="accesli">
          <a  class="accesitemsa" (click)="contraste()">
              <img src='../../../../assets/images/contraste.svg' alt="Botón contraste" class="accesimg"/>
              <span>{{Tema}}</span>
          </a>
      </li>

      <li class="accesli">
          <a  class="accesitemsa" (click)="reducir()">
              <img src='../../../../assets/images/disminuir-letra.svg' alt="Botón contraste" class="accesimg"/>
              <span>Reducir letra</span>
          </a>
      </li >

      <li class="accesli">
          <a  class="accesitemsa" (click)="aumentar()">
              <img src='../../../../assets/images/aumentar-letra.svg' alt="Botón contraste" class="accesimg"/>
              <span>Aumentar letra</span>
          </a>
      </li>

  </ul>
</div>
