
  <h1 class="font-bold text-xl mb-4">Presentación de diapositivas</h1>
  <div class=" flex ">
      <swiper
        [slidesPerView]="1"
        [spaceBetween]="50"
        [keyboard]="{
          enabled: true
        }"
        [pagination]="{
          clickable: true
        }"
        [navigation]="true"
        class="m-0"
      >
        <ng-template swiperSlide>
          <div>
            <img src="http://c.files.bbci.co.uk/48DD/production/_107435681_perro1.jpg">
            <p>Imagen del primer perrito</p>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div>
            <img src="https://images.hola.com/imagenes/mascotas/20221020219416/razas-perros-toy/1-154-385/razas-de-perro-toy-t.jpg">
            <p>Imagen del segundo perrito</p>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div>
            <img src="https://fotografias.antena3.com/clipping/cmsimages01/2022/08/12/F30768A2-C006-4CF1-8701-6026559DB725/mas-4000-perros-utilizados-experimentos-cientificos-buscan-hogar-adopcion_98.jpg?crop=1920,1080,x0,y0&width=1900&height=1069&optimize=low&format=webply">
            <p>Imagen del tercer perrito</p>
          </div>
        </ng-template>
      </swiper>
  </div>

  <div class="flex flex-row justify-between">
    <button class="btnBack" [routerLink]="['/Componentes/control-deslizante']">
      <span>Anterior</span>
      <div class="svg-wrapper-1">
        <div class="svg-wrapper">
          <mat-icon class="icon-size-6 text-black-500">arrow_back</mat-icon>
        </div>
      </div>
    </button>

    <button class="btnNext" [routerLink]="['/Componentes/seleccion-listas']" >
      <div class="svg-wrapper-1">
        <div class="svg-wrapper">
          <mat-icon class="icon-size-6 text-black-500">arrow_forward</mat-icon>
        </div>
      </div>
      <span>Siguiente</span>
    </button>
  </div>

