<div class="flex flex-row items-center">
  <mat-icon class="flex text-[#F0B429] material-icons-outlined text-5xl w-12 h-12">image</mat-icon>
  <h1 class="font-bold text-xl mb-4">Conjunto de selección de listas</h1>
</div>
<mat-divider></mat-divider>

<form autocomplete="off" [formGroup]="form" class="w-full">
  <p class="text-xl mt-2">Read the statements below and say whether you consider they are true or false.</p>

  <p class="text-lg text-justify"><strong>A.</strong> As the literature review searches for theories and concepts, it might mean a great contribution for the theoretical framework of the research study.</p>

  <div class="w-full p-4 bg-green-200" *ngIf="good01">
    <div class="flex flex-row">
      <div class="w-1/2 flex flex-col items-center">
        <img class="w-full max-w-[120px]" src="https://unad-cvele.github.io/english-ovas/theoretical-and-methodological-frameworks-in-research/images/success.png">
      </div>
      <div class="w-1/2 flex flex-row items-center">
        <p class="font-bold text-xl">True</p>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="p-4 w-full">
      <p class="m-0">Well done! It’s true because you can include, in the theoretical framework, the findings made in the lit review.</p>
    </div>
  </div>

  <div class="w-full p-4 bg-red-200" *ngIf="wrong01">
    <div class="flex flex-row">
      <div class="w-1/2 flex flex-col items-center">
        <img class="w-full max-w-[120px]" src="https://unad-cvele.github.io/english-ovas/theoretical-and-methodological-frameworks-in-research/images/warning.png">
      </div>
      <div class="w-1/2 flex flex-row items-center">
        <p class="font-bold text-xl">False</p>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="p-4 w-full">
      <p class="m-0 text-center">Sorry, try again.</p>
    </div>
  </div>

  <div class="w-full flex flex-col items-center">
    <mat-form-field appearance="fill"  class="w-40">
      <mat-label>Select</mat-label>
      <mat-select formControlName="first">
        <mat-option>--</mat-option>
        <mat-option value="option1" >True</mat-option>
        <mat-option value="option2">False</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <p class="text-lg text-justify"><strong>B.</strong> The review identifies problems in the literature such as gaps, controversies, limitations, etc., but it does not seek to solve them.</p>

  <div class="w-full p-4 bg-green-200" *ngIf="good02">
    <div class="flex flex-row">
      <div class="w-1/2 flex flex-col items-center">
        <img class="w-full max-w-[120px]" src="https://unad-cvele.github.io/english-ovas/theoretical-and-methodological-frameworks-in-research/images/success.png">
      </div>
      <div class="w-1/2 flex flex-row items-center">
        <p class="font-bold text-xl">False</p>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="p-4 w-full">
      <p class="m-0">Well done! It's false because the goal of identifying problems in the literature is to make a useful contribution through the research study.</p>
    </div>
  </div>

  <div class="w-full p-4 bg-red-200" *ngIf="wrong02">
    <div class="flex flex-row">
      <div class="w-1/2 flex flex-col items-center">
        <img class="w-full max-w-[120px]" src="https://unad-cvele.github.io/english-ovas/theoretical-and-methodological-frameworks-in-research/images/warning.png">
      </div>
      <div class="w-1/2 flex flex-row items-center">
        <p class="font-bold text-xl">True</p>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="p-4 w-full">
      <p class="m-0 text-center">Sorry, try again.</p>
    </div>
  </div>

  <div class="w-full flex flex-col items-center">
    <mat-form-field appearance="fill"  class="w-40">
      <mat-label>Select</mat-label>
      <mat-select formControlName="second">
        <mat-option>--</mat-option>
        <mat-option value="option1" >True</mat-option>
        <mat-option value="option2">False</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <p class="text-lg text-justify"><strong>C.</strong> A book that discusses several theories and outlooks about autonomy in language learning can be considered a primary source for literature.</p>

  <div class="w-full p-4 bg-green-200" *ngIf="good03">
    <div class="flex flex-row">
      <div class="w-1/2 flex flex-col items-center">
        <img class="w-full max-w-[120px]" src="https://unad-cvele.github.io/english-ovas/theoretical-and-methodological-frameworks-in-research/images/success.png">
      </div>
      <div class="w-1/2 flex flex-row items-center">
        <p class="font-bold text-xl">False</p>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="p-4 w-full">
      <p class="m-0">Well done! It's false because the book is a compilation of previous research works that just describes the findings. It's a tertiary source.</p>
    </div>
  </div>

  <div class="w-full p-4 bg-red-200" *ngIf="wrong03">
    <div class="flex flex-row">
      <div class="w-1/2 flex flex-col items-center">
        <img class="w-full max-w-[120px]" src="https://unad-cvele.github.io/english-ovas/theoretical-and-methodological-frameworks-in-research/images/warning.png">
      </div>
      <div class="w-1/2 flex flex-row items-center">
        <p class="font-bold text-xl">True</p>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="p-4 w-full">
      <p class="m-0 text-center">Sorry, try again.</p>
    </div>
  </div>

  <div class="w-full flex flex-col items-center">
    <mat-form-field appearance="fill"  class="w-40">
      <mat-label>Select</mat-label>
      <mat-select formControlName="third">
        <mat-option>--</mat-option>
        <mat-option value="option1" >True</mat-option>
        <mat-option value="option2">False</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <p class="text-lg text-justify"><strong>D.</strong> Methodological aspects of research such as the research design and the data analysis methods can also be searched in the literature.</p>

  <div class="w-full p-4 bg-green-200" *ngIf="good04">
    <div class="flex flex-row">
      <div class="w-1/2 flex flex-col items-center">
        <img class="w-full max-w-[120px]" src="https://unad-cvele.github.io/english-ovas/theoretical-and-methodological-frameworks-in-research/images/success.png">
      </div>
      <div class="w-1/2 flex flex-row items-center">
        <p class="font-bold text-xl">True</p>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="p-4 w-full">
      <p class="m-0">Well done! It's true because the research procedures can be also part of the object of a study, therefore its existing literature has to be searched.</p>
    </div>
  </div>

  <div class="w-full p-4 bg-red-200" *ngIf="wrong04">
    <div class="flex flex-row">
      <div class="w-1/2 flex flex-col items-center">
        <img class="w-full max-w-[120px]" src="https://unad-cvele.github.io/english-ovas/theoretical-and-methodological-frameworks-in-research/images/warning.png">
      </div>
      <div class="w-1/2 flex flex-row items-center">
        <p class="font-bold text-xl">False</p>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="p-4 w-full">
      <p class="m-0 text-center">Sorry, try again.</p>
    </div>
  </div>

  <div class="w-full flex flex-col items-center">
    <mat-form-field appearance="fill"  class="w-40">
      <mat-label>Select</mat-label>
      <mat-select formControlName="fourth">
        <mat-option>--</mat-option>
        <mat-option value="option1" >True</mat-option>
        <mat-option value="option2">False</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>

<div class="flex flex-row justify-between mt-2">
  <button class="btnBack" [routerLink]="['/Componentes/seleccion-listas']">
    <span>Anterior</span>
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_back</mat-icon>
      </div>
    </div>
  </button>

  <button class="btnNext" [routerLink]="['/Componentes/parrafo-con-seleccion-listas']" >
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_forward</mat-icon>
      </div>
    </div>
    <span>Siguiente</span>
  </button>
</div>
