<div class="flex flex-row items-center">
  <mat-icon class="flex text-[#F0B429] material-icons-outlined text-5xl w-12 h-12">description</mat-icon>
  <h1 class="font-bold text-xl mb-4">Iframe</h1>
</div>
<mat-divider></mat-divider>

<div class="w-full mt-2 flex flex-col items-center">
  <iframe class="my-4 border-2 w-full h-[500px] sm:h-[550px] md:h-[600px]" src="https://web.seducoahuila.gob.mx/biblioweb/upload/Garc%C3%ADa%20Gabriel%20-%20El%20amor%20en.pdf" title="Ejercicio Trabajo y Energía Nivel básico (Aprende con niveles) | Aprende Rápido Trabajo y Energía" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="flex flex-row justify-between mt-2">
  <button class="btnBack" [routerLink]="['/Componentes/acordeon']">
    <span>Anterior</span>
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_back</mat-icon>
      </div>
    </div>
  </button>

  <button class="btnNext" [routerLink]="['/Componentes/galeria-imagenes']" >
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_forward</mat-icon>
      </div>
    </div>
    <span>Siguiente</span>
  </button>
</div>
