<app-title-with-lsc [title]="'Textos con imágenes'" [nameVideo]="'Video 18. Coincidencia de pregunta.mov'"></app-title-with-lsc>

<div class="w-full px-2 md:px-12 mt-2">
  <div class="w-full flex flex-col md:flex-row items-center md:items-start relative border-2 border-[#005883] border-dashed p-4 md:p-8">
    <div class="relative p-5 bg-[#377C87] border-4 border-[#EEA94E] shadow-[2px_2px_2px_1px_rgba(0,0,0,0.2)] md:left-[-50px] md:rotate-2 min-h-[215px] max-h-[220px] max-w-[186px]">
      <img src="https://unad-cvele.github.io/english-ovas/theoretical-and-methodological-frameworks-in-research/images/researchEthics/1_ResearchEthics.png" alt="Research Ethic" class="max-w-[130px] rotate-[-10deg]">
    </div>
    <p class="text-justify m-0">Research Ethics is the discipline that provides norms, standards, and guidelines for the responsible conduct of research, thereby promoting good scientific practice. These guidelines cover practices, objectives, and relationships in several areas of research that may be applicable to all disciplines. They basically refer to internal ethical norms, linked to the self-regulation of the research community, and external ethical norms, linked to the relationship between research and society.</p>
  </div>
</div>

<div class="w-full px-2 md:px-12 mt-8">
  <div class="w-full flex flex-col-reverse md:flex-row items-center md:items-start relative border-2 border-[#F47920] border-dashed p-4 md:p-8">
    <div>
      <h1 class="text-xl font-bold">Norms that promote the ethical aims of the scientific practice</h1>
      <p class="text-justify m-0 mt-2">This includes appropriate management of knowledge and truth, honesty to report information and results, prohibitions against falsifying or misrepresenting research data and procedures, avoidance of error during the research, and evasion of bias in data collection and interpretation. Availability of research material to other researchers for secondary analysis and the further use and publication of results are also mandatory norms since this ensures access to knowledge as a collective good.</p>
    </div>
    <div class="relative p-5 bg-[#EEA94E] border-4 border-[#377C87] shadow-[2px_2px_2px_1px_rgba(0,0,0,0.2)] md:right-[-50px] md:rotate-[-2deg] min-h-[215px] max-h-[220px] max-w-[186px]">
      <img src="https://unad-cvele.github.io/english-ovas/theoretical-and-methodological-frameworks-in-research/images/researchEthics/2_ScientificResearch.png" alt="Research Ethic" class="max-w-[130px] rotate-[10deg]">
    </div>
  </div>
</div>
<div class="flex flex-row justify-between mt-2">
  <button class="btnBack" [routerLink]="['/Componentes/texto/mapa-conceptual-con-botones']">
    <span>Anterior</span>
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_back</mat-icon>
      </div>
    </div>
  </button>

  <button class="btnNext" [routerLink]="['/Componentes/imagenes']" >
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_forward</mat-icon>
      </div>
    </div>
    <span>Siguiente</span>
  </button>
</div>
