<div class="flex flex-row items-center">
  <mat-icon class="flex text-[#F0B429] material-icons-outlined text-5xl w-12 h-12">description</mat-icon>
  <h1 class="font-bold text-xl mb-4">Botones para desplegar cajas de información</h1>
</div>
<mat-divider></mat-divider>

<div class="flex flex-col w-full mt-2">

  <div class="w-full border-[#005883] border-[20px] p-4">
    <h1 class="text-xl font-bold">How to conduct a literature review?</h1>
    <p class="text-justify m-0">Depending on the main purposes of the lit review, different steps can be lied down to build up this section. Here are the main steps to state the review:</p>
  </div>

  <div class="flex flex-col w-full pl-[5%] border-b-[20px] border-[#005883]">

    <div class="flex flex-row w-full">
      <div class="w-[10%] h-auto bg-[#005883] flex flex-col items-center justify-center">
        <mat-icon class="text-[#F47920] material-icons-outlined text-5xl w-12 h-12 cursor-pointer "
        [ngClass]="{'iconBtn': !div01}"
        (click)="this.div01 = true">radio_button_checked</mat-icon>
      </div>

      <div class="w-[90%] flex flex-col p-4">
        <div class="p-4 w-full border-b-4 border-[#005883]">
          <p class="text-xl font-bold text-[#005883] m-0">Define the topics or field of research</p>
        </div>

        <div class="w-full">
          <div class="border-4 m-8 rounded border-[#F0B429] divBoxin overflow-hidden" *ngIf="div01">
            <div class="flex flex-col textVertAppear p-4">
              <div class="flex flex-row justify-end px-2 py-1">
                <mat-icon class="flex text-red-600 text-5xl w-12 h-12 cursor-pointer iconHov" (click)="this.div01 = false">cancel</mat-icon>
              </div>
              <p class="m-0 text-justify"><strong>Define the topics or field of research:</strong> to begin, you need to have in mind the topics related to your research that you will use for the search. This includes concepts, theories, subject areas, methodological approaches, etc. These specifications will narrow the search and limit the number of articles and documents for the analysis.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-row w-full">
      <div class="w-[10%] h-auto bg-[#005883] flex flex-col items-center justify-center">
        <mat-icon class="text-[#F0B429] material-icons-outlined text-5xl w-12 h-12 cursor-pointer "
        [ngClass]="{'iconBtn': !div02}"
        (click)="this.div02 = true">zoom_out_map</mat-icon>
      </div>

      <div class="w-[90%] flex flex-col p-4">
        <div class="p-4 w-full border-b-4 border-[#005883]">
          <p class="text-xl font-bold text-[#005883] m-0">Set up the objectives of the review</p>
        </div>

        <div class="w-full">
          <div class="border-4 m-8 rounded border-[#F47920] divBoxin overflow-hidden" *ngIf="div02">
            <div class="flex flex-col textVertAppear p-4">
              <div class="flex flex-row justify-end px-2 py-1">
                <mat-icon class="flex text-red-600 text-5xl w-12 h-12 cursor-pointer iconHov" (click)="this.div02 = false">zoom_in_map</mat-icon>
              </div>
              <p class=" ext-justify"><strong>Set up the objectives of the review:</strong> it is important to know why you are conducting the review. Maybe the study wants to compare some theories or concepts to confirm, add to, or challenge established knowledge, or provide new outlooks of prior research, or reveal new insights of the problems, etc. Recall the list of reasons provided in the first part of this resource.</p>
              <p class="m-0 text-justify">Take into account that the lit review serves also to prove that your research is not doing more of the same, but is something different that will hence contribute to the field of study.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-row w-full">
      <div class="w-[10%] h-auto bg-[#005883] flex flex-col items-center justify-center">
        <mat-icon class="text-white material-icons-outlined text-5xl w-12 h-12 cursor-pointer "
        [ngClass]="{'iconBtn': !div03}"
        (click)="this.div03 = true">open_in_full</mat-icon>
      </div>

      <div class="w-[90%] flex flex-col p-4">
        <div class="p-4 w-full border-b-4 border-[#005883]">
          <p class="text-xl font-bold text-[#005883] m-0">Search for the sources</p>
        </div>

        <div class="w-full">
          <div class="border-4 m-8 rounded border-[#F0B429] divBoxin overflow-hidden" *ngIf="div03">
            <div class="flex flex-col textVertAppear p-4">
              <div class="flex flex-row justify-end px-2 py-1">
                <mat-icon class="flex text-red-600 text-5xl w-12 h-12 cursor-pointer iconHov" (click)="this.div03 = false">close_fullscreen</mat-icon>
              </div>
              <p class=" text-justify"><strong>Search for the sources:</strong>  consider only scholar and reliable sources and search only the literature related to your study. Use several databases and sources, type keywords, and use filters to reduce the number of articles to read.</p>
              <p class="m-0 text-justify">Start with the most recent material and work backwards to find good recent studies and use seminal references. Assess whether you have enough literature or if you need to choose another topic.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-row w-full">
      <div class="w-[10%] h-auto bg-[#005883] flex flex-col items-center justify-center">
        <mat-icon class="text-[#F47920] material-icons-outlined text-5xl w-12 h-12 cursor-pointer "
        [ngClass]="{'iconBtn': !div04}"
        (click)="this.div04 = true">visibility</mat-icon>
      </div>

      <div class="w-[90%] flex flex-col p-4">
        <div class="p-4 w-full border-b-4 border-[#005883]">
          <p class="text-xl font-bold text-[#005883] m-0">Analyze and evaluate the literature</p>
        </div>

        <div class="w-full">
          <div class="border-4 m-8 rounded border-[#F0B429] divBoxin overflow-hidden" *ngIf="div04">
            <div class="flex flex-col textVertAppear p-4">
              <div class="flex flex-row justify-end px-2 py-1">
                <mat-icon class="flex text-red-600 text-5xl w-12 h-12 cursor-pointer iconHov" (click)="this.div04 = false">visibility_off</mat-icon>
              </div>
              <p class="m-0 text-justify"><strong>Analyze and evaluate the literature:</strong>  as you read, you should write the section by understanding the connections between the sources you have been reading in order to establish theoretical and practical trends, patterns, themes, contradictions, gaps, conflicts, debates, etc. Bear in mind that the lit review is not a mere list of previous studies, but relationships and analysis must be set up. It is neither just a summary of the sources but is also about synthetizing, analyzing, interpreting, and critically evaluating to give a clear picture of the state of knowledge on the subject.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-row w-full">
      <div class="w-[10%] h-auto bg-[#005883] flex flex-col items-center justify-center">
        <mat-icon class="text-[#F0B429] material-icons-outlined text-5xl w-12 h-12 cursor-pointer "
        [ngClass]="{'iconBtn': !div05}"
        (click)="this.div05 = true">adjust</mat-icon>
      </div>

      <div class="w-[90%] flex flex-col p-4">
        <div class="p-4 w-full border-b-4 border-[#005883]">
          <p class="text-xl font-bold text-[#005883] m-0">State the findings of the review</p>
        </div>

        <div class="w-full">
          <div class="border-4 m-8 rounded border-[#F0B429] divBoxin overflow-hidden" *ngIf="div05">
            <div class="flex flex-col textVertAppear p-4">
              <div class="flex flex-row justify-end px-2 py-1">
                <mat-icon class="flex text-red-600 text-5xl w-12 h-12 cursor-pointer iconHov" (click)="this.div05 = false">cancel</mat-icon>
              </div>
              <p class="m-0 text-justify"><strong>State the findings of the review:</strong>  the lit review should have an introduction, where you present the purpose and the focus of the review and relate them with the research problem and objectives; a main body, where you present the findings of the literature reviewed by giving an overview of the main points of each source, combining them into a coherent whole, adding your own interpretations where needed, discussing the significance of findings in relation to the literature as a whole, and mentioning the strengths and weaknesses of the sources.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>

<div class="flex flex-row justify-between mt-2">
  <button class="btnBack" [routerLink]="['/Componentes/texto/iconos-botones-para-desplegar-texto']">
    <span>Anterior</span>
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_back</mat-icon>
      </div>
    </div>
  </button>

  <button class="btnNext" [routerLink]="['/Componentes/imagenes']" >
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_forward</mat-icon>
      </div>
    </div>
    <span>Siguiente</span>
  </button>
</div>
