<div class="flex flex-row items-center">
  <mat-icon class="flex text-[#F0B429] material-icons-outlined text-5xl w-12 h-12 mr-2">description</mat-icon>
  <h1 class="font-bold text-3xl">Selección múltiple</h1>
</div>
<mat-divider></mat-divider>

<div class="flex flex-col mt-2">

  <p>¿Cuánto es 1+1?.</p>

  <form autocomplete="off" [formGroup]="form" >
    <mat-radio-group class="flex flex-col pl-8 grid-rows-4 gap-2" formControlName="first" [disabled]="feedbackContainer">
      <mat-radio-button  value="1">1</mat-radio-button>
      <mat-radio-button  value="2">2</mat-radio-button>
      <mat-radio-button  value="3">3</mat-radio-button>
      <mat-radio-button  value="4">4</mat-radio-button>
    </mat-radio-group>
  </form>

  <div class="my-4" *ngIf="!feedbackContainer">
    <button mat-raised-button (click)="askQuestion()" disabled="{{form.invalid}}" class="bg-[#005883] text-white">Enviar</button>
  </div>

  <div class="my-4 flex flex-col" *ngIf="feedbackContainer">
    <div class="flex flex-row items-center">
      <mat-icon *ngIf="check" class="flex text-green-600 material-icons-outlined text-5xl w-12 h-12 mr-2">check_circle</mat-icon>
      <p class="my-2" *ngIf="check">Acertaste</p>
      <mat-icon *ngIf="!check" class="flex text-red-600 material-icons-outlined text-5xl w-12 h-12 mr-2">cancel</mat-icon>
      <p class="my-2" *ngIf="!check">No acertaste</p>
    </div>
    <div class="my-2">
      <button mat-raised-button (click)="openFeedback()" class="bg-[#005883] text-white" *ngIf="feedbackContainer">Ver Retroalimentación</button>
    </div>
  </div>
</div>

<div class="flex flex-row justify-between">
  <button class="btnBack" routerLink="/Componentes/video">
    <span>Anterior</span>
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_back</mat-icon>
      </div>
    </div>
  </button>

  <button class="btnNext" routerLink="/Componentes/varias-seleccion-multiple" >
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <mat-icon class="icon-size-6 text-black-500">arrow_forward</mat-icon>
      </div>
    </div>
    <span>Siguiente</span>
  </button>
</div>
